.container {
    overflow: scroll;
    height: 274px;
    width: 700px;
}
.totalOrder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.popup h3{
    font-size: 20px;
    font-family: 'PT Sans' !important;
    font-weight: bold;
}
.button-lg-x{
    font-size: 15px;
    font-family: 'PT Sans' !important;
}
.cart-product-info a{
    
    font-family: 'PT Sans' !important;
}.cart-product-info h5{
    font-weight: bold;
}

@media screen and (max-width: 500px){
    .container{
        width: 100% !important;
        
    }
}
