<div class="container-popup">
  <div class="popup">
      <button mat-raised-button color="accent" class="button-lg-x closePopup" (click)="dialogRef.close()"><a>Cerrar</a></button><br>
      <div class="datosDestinatarios">
          <h3>Datos destinatario</h3>
          <li>Nombre : {{totales.nombreDestinatario}}</li>
          <li>Dirección: {{totales.direccionDestinatario}}</li>
          <li>Cuidad: {{totales.ciudadDestinatario}}</li><br>       
      </div>
      <h3>Detalle de pedido </h3>
  </div>
  <div class="inner-container bg-white cart-page section-gap">
          <div class="container">
        <div class="cart-wrapper">
          <div class="cart-shop-list mb-5 text-center  card-shadow">
            <div fxLayout='row wrap' fxLayoutAlign="start center" class="cart-item" *ngFor="let item of productsDetail">
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="10" fxFlex.lg="20" fxFlex.xl="20" class="cart-product-image">
                <div class="cart-item-thumb">
                  <a  class="p-link">
                    <img width="626" height="800" class="card-shadow" src="{{item.producto.miniatura}}" alt="cart image">
                  </a>
                </div>
              </div>
                <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="90" fxFlex.lg="80" fxFlex.xl="80">
                  <div fxLayout='row wrap' fxLayoutAlign="center center" class="cart-product-info">
                     <div fxFlex.xs="100" fxFlex.sm="40" fxFlex.md="30" fxFlex.lg="40" fxFlex.xl="40">
                        <h5><a>{{item.producto.descripcion}}</a></h5>
                      </div>
                      <div fxFlex.xs="50" fxFlex.sm="40" fxFlex.md="30" fxFlex.lg="20" fxFlex.xl="20">
                        <div class="cart-item-price">                           
                          <h5><a>{{(item.producto.precio) | currency:'COP' }} X {{(item.cantidad)}}</a></h5>
                        </div>
                      </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    <div class="totalOrder">
      <button mat-raised-button color="accent" class="button-lg-x"> Total Pedido = {{totalPedido | currency:'COP'}}</button><br>       
    </div>
  </div>
</div>


