.container {
    overflow: scroll;
    height: 274px;
    width: 700px;
}
.totalOrder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.popup h3 , .button-lg-x, .cart-product-info a{
    font-family: 'PT Sans' !important;
}
.popup h3{
    font-size: 20px;
  
    font-weight: bold;
}
.button-lg-x{
    font-size: 15px;
   
}

.cart-product-info h5{
    font-weight: bold;
}
.closePopup{
    float: right;
}
.datosDestinatarios li{
    list-style:none;
}.datosDestinatarios{
    margin-top: -15px;
    justify-content: center
}

@media screen and (max-width: 500px){
    .container{
        width: 100% !important;
        
    }
}
