

.select-group .mat-form-field {
	width: 110px;
}
/*
.product-detail-content a {
    font-size: 15px;
    font-family: 'PT Sans' !important;
  
}*/

.button-lg{
    font-size: 15px;
    font-family: 'PT Sans' !important;
}


@media screen and (max-width: 500px){
    .product-detail-content { 
        margin-top: -30px !important; 
    }.relative { 
        margin-top: -20px !important; 
    }
}



