
<div class="product-detail-page section-gap bg-white" *ngIf="detailData">
  <div class="container">     
    <div fxLayout='row wrap' fxLayoutAlign="center center" class="col-gap">
      <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=90 fxFlex.lg="80" fxFlex.xl="90">
        <div fxLayout='row wrap' class="col-gap position-relative">
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">
            <div fxLayout='row wrap'>
               
              <div fxFlex.xs="85" fxFlex.sm="85" fxFlex.md="85" fxFlex.lg="85" fxFlex.xl="85" class="relative" *ngIf="mainImgPath">
                <embryo-ImgZoom 
                [imgSrc]="mainImgPath" 
                    imgStyle="width:auto; height:auto;" 
                    resultStyle="background-repeat: no-repeat; z-index: 2; position:absolute;
                                   -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); top: 0;left: 100%;"
                    lensStyle="width:100px; height:100px"
                    containerStyle="">
                </embryo-ImgZoom>
              </div>
            </div>
          </div>
          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md=50 fxFlex.lg="50" fxFlex.xl="50">              
            <div class="product-detail-content">
              <h3><a >{{detailData.categoria}}</a></h3>
              <div class="product-detail-price">
                <h4 class="accent-color"><a>Precio por producto: {{detailData.precio | currency:'COP':true:'1.0-0'}}</a></h4>
              </div>
              <ul class="no-style mb-4">
                <li>
                  <span class="font-medium"> <a>Disponibilidad</a> </span>: 
                  <span *ngIf="detailData.cantidadDisponible > 0"><a>Si</a></span>
                  <span *ngIf="detailData.cantidadDisponible == 0"><a>No</a></span>
                </li>
                <li>
                  <span class="font-medium"><a>Código del Producto</a></span><a>: {{detailData.idProducto}}</a>
                </li>
              </ul>
              <div class="short-des">
                <span class="font-medium"><a>Descripción:</a></span>
                <p><a>{{detailData.descripcion}}</a>
                </p>
              </div>
              <div fxLayoutGap="30px" class="mb-3 select-group">
                <mat-form-field>
                  <mat-select placeholder="Cantidad" (selectionChange)="calculatePrice(detailData, $event.value)">
                    <ng-container *ngFor="let quantity of quantityArray">
                      <mat-option value="{{quantity}}"><a>{{quantity}}</a></mat-option>
                    </ng-container>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="mb-5 detail-btns">             
                <button mat-raised-button color="accent" class="button-lg mr-3" (click)=" addToCart(detailData)">Agregar al carrito</button>                               
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
