

.select-group .mat-form-field {
	width: 110px;
}

.button-lg{
    font-size: 15px;
    font-family: 'PT Sans' !important;
}

.container{
    overflow: scroll;
}
.short-des{
    margin-top:-13px;
}
.detail-btns{
    margin-top:-15px;
}
.select-group{
    margin-top:-15px;
}

@media screen and (max-width: 600px){
    .container{
        width: 100%;
        overflow: scroll;
    }   
}

@media screen and (max-width: 500px){
    .product-detail-content { 
        margin-top: -30px !important; 
    }.relative { 
        margin-top: -33px !important; 
    }
}

#toasty {
   background-color: red;
      /* Positioning */
}



