.responsive-toggle {
  display: none;
}

.follow-products{
  background:  #ff5722;
  color: #fff;
  border: 1px solid #fff;
  height: 30px;
  font-size:15px;
  font-family: inherit;
}
.tittle-follow{
  margin-top: -1px;
}
.follow-order{
  background:  #ff5722;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  font-size: 18px;
}
.signout-pag{
  background:  #ff5722;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  border: none;
  font-size: 18px;
}

@media(max-width:959px) {
  .responsive-toggle {
    display: block;
  }
}
@media(max-width:500px) {
  .follow-order {
    transform: scale(0.85);
  }.signout-pag{
    transform: scale(0.85);
  }
}



