.responsive-toggle {
  display: none;
}

.follow-products{
  background:  #F16113;
  color: #fff;
  border: 1px solid #fff;
  height: 30px;
  font: oblique bold 70% cursive;
}

@media(max-width:959px) {
  .responsive-toggle {
    display: block;
  }
}

