<mat-toolbar color="primary" class="header-v1">
  <mat-toolbar-row class="header-v1-top">
    <div class="container">
      <div fxLayout="row wrap" fxLayout="center center">
        <div fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxFlex.md="33%" fxFlex.lg="33%" fxFlex.xl="33%">
          <div class="list-flex">
            
            </div>
        </div>
        <div class="logo-site" fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
         <embryo-AppLogo></embryo-AppLogo>
        </div>
        <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
          <span fxFlex></span>
          <div class="list-flex user-tool">

            <button class="follow-order" [routerLink]="['/home/cart']">
                <a  class="fas fa-shopping-cart"></a>
            </button>
            <a class="count"><a>{{contProducts}}</a></a>
            <button class="follow-order" (click)="followProduct()">
              <a   class="fa fa-truck"></a>
            </button>
            <button class="signout-pag" >
              <a   class="fa fa-power-off" (click)="signout()"></a>
            </button>
            
            
           
          </div>
        </div>
      </div>
    </div>
  </mat-toolbar-row>
 
</mat-toolbar>
<embryo-FixedHeader></embryo-FixedHeader>
