@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

@import 'variables';
@import 'material-theme';
@import "core/core";
@import "pages/pages";
@import "components/components";
@import "utilities/utilities";
@import "rtl";


body{
  font-family: 'PT Sans' !important;
}
.cdk-overlay-dark-backdrop{
    background: rgba(0, 0, 0,0.15) !important;
  }
  


.mat-dialog-container{
     height: auto !important;
}