.button-lg-x, .tittle{
    font-family: 'PT Sans' !important;
}
.button-lg-x{
    float: right;
    font-size: 15px;
   // font-family: 'PT Sans' !important;
}
.tittle{
    font-size: 25px;
  //  font-family: 'PT Sans' !important;
    font-weight: bold;
}

.cdk-overlay-dark-backdrop{
    background: rgba(0, 0, 0,0.15);
}


#toasty {
    position: fixed !important;
    z-index: 9999999999999999999  !important;
      /* Positioning */
}