.button-lg-x, .tittle{
    font-family: 'PT Sans' !important;
}
.button-lg-x{
    float: right;
    font-size: 15px;
   
}
.tittle{
    font-size: 25px;
    font-weight: bold;
}
@media screen and (max-width: 600px){
    .container{
        width: 100%;
        overflow: scroll;
    }   
}

.cdk-overlay-dark-backdrop{
    background: rgba(0, 0, 0,0.15);
}


#toasty {
    position: fixed !important;
    z-index: 9999999999999999999  !important;
    
}