<div class="menu">
  <a class="menu-filtro">Filtros</a><br>
  <form class="form-filtros">

    <label for="categoria">* Categoria </label><br>
    <input type="checkbox">TVs<br>
    <input type="checkbox">PCs<br>
    <input type="checkbox">Celulares<br><br>

    <label form="disponibilidad">* Disponibilidad </label>
    <section>
      <option type="checkbox">Disponible</option>
    </section>
    <br><br>

    <input type="checkbox">Disponible<br>
    <input type="checkbox">No disponible<br><br>

    <label form="precio">Precio </label>
    <select name="precio">
    </select><br>

  </form>
</div>
