
<div [dir]="isRtl" (scroll)="onScrollEvent($event)">
  <mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="embryoService.sidenavOpen" class="sidebar-area" mode="over">
      <mat-nav-list>
        <div class="close-btn-sidebar">
          <a href="javascript:void(0)" (click)="embryoService.sidenavOpen = false">
            <i class="material-icons">
              close
            </i>
          </a>
        </div>
        <embryo-SidebarMenu *ngFor="let item of menuItems.getMainMenu()" [item]="item"></embryo-SidebarMenu>
      </mat-nav-list>
    </mat-sidenav>
    
    <ngx-toasta></ngx-toasta>
    <HeaderOne></HeaderOne>
    
    <br>
    <div  class="main">
      <div >
        <router-outlet  ></router-outlet>
      </div> 
    </div>
    
  </mat-sidenav-container>

  
</div>
