//app componente
body{
    background-color: #BDBDBD;
    background-attachment: fixed;
}
.login-pag {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.login{
    
    width: 280px;
    height: 280px;
    background: white;
    float: right;
    outline: 1px solid #333;
    text-align:center;
}
.button-confirm-next{
    float: right;
    margin: 1%;
}
.button-confirm-last{
    float: left;
    margin: 1%;
}
.login-shop{
    width: 350px;
    height: 350px;
    background: white;
    float: right;
    outline: 1px solid #333;
    text-align:center;
}
.product-car{
    text-align:center;

}
.logologin{
    width: 280px;
    height: 100px;
    outline: 1px solid #333;
}
.button-login{
    text-align:center;
}
.button-login-next{
    float: right;
    margin: 1%;
}
.button-login-last{
    float: left;
    margin: 1%;
}
//menu

.roof{
    background-color: #FF0000;
    height: 50px;
}
.logo{
    width: 90px;
    height: 50px;
}
.head-hello{
    text-align:center;
    font-family: Helvetica, sans-serif;
}
.button{
    float: right;
    width: 50px;
    height: 50px;
    background: #333;
    color: white;
    text-align:center;
    line-height: 45px;
}
.button-check{
    font-family: Helvetica, sans-serif;
    float: right;
    width: 200px;
    height: 50px;
    background: #333;
    color: white;
    text-align:center;
    line-height: 45px;
}
.button:hover{
    background: #FF0000;
}
.button-check:hover{
    background: #FF0000;
}
.menu{
    
    
   // height: 600px;
    color: white;
    font-family: Helvetica, sans-serif;
   // text-align:center;
    line-height: 30px;
}
.form-filtros{
    font-size: 14px;
}
.menu-filtro{
    font-size: 17px;
    text-align:center;
}
.filter ul{
    font-family: Helvetica, sans-serif;
    line-height: 45px;
    list-style: none;
    background: #333;
    text-align:center;
}
.filter ul li{
    display: inline-block;
 
    transition: all 300ms;
}
.filter ul li a:hover{
    background: #FF0000;
}
.filter  a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}
.router{
    background:white;
    width: 800px;
    height:405px;
    //margin: 20px;
    //padding-top: 500px;  
}
.menu-principal div{
    display: inline-block;
}
.menu-catalogo {
    background: #333;
    width: 200px;
    height:100%;
   // background: white;
   text-align:center;
}
//slider precio
.button-precio{
    font-family: Helvetica, sans-serif;
}
.values-precio{
    text-align:center;
    
}


