<mat-toolbar color="primary" class="header-v1">
    <mat-toolbar-row class="header-v1-top">
      <div class="container">
        <div fxLayout="row wrap" fxLayout="center center">
          <div fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxFlex.md="33%" fxFlex.lg="33%" fxFlex.xl="33%">
            <div class="list-flex">
            </div>
          </div>
          <div class="logo-site" fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
           <embryo-AppLogo></embryo-AppLogo>
          </div>
          <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
            <span fxFlex></span>
            <div class="list-flex user-tool">
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
</mat-toolbar><br>
<embryo-PageTitle heading="Payment Information"></embryo-PageTitle>

<div class="inner-container section-gap" >
   <div class="checkout-option">
    <div class="container">
      
    <div class="view-cart text-right mb-5">
      <button mat-raised-button color="accent" >Total pedido : {{totales.totalPrecio | currency:'COP'}}</button>
    </div>
    
      <mat-accordion class="mat-ex-wrapper">
        <form card container=".card-container" [formGroup] = "paymentFormOne">
          <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header>
              <h4 class="mb-0">Confirmación de datos</h4>
            </mat-expansion-panel-header>
            <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap" formGroupName="user_details">
              <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                    
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">          
                      <div class="mb-2">
                        <mat-form-field class="w-100"><!--pattern="[A-Za-z]"-->
                          <input matInput type="text" placeholder="Nombre" formControlName="first_name"  required>
                          <mat-error *ngIf="paymentFormOne.get('user_details.first_name').hasError('required') && paymentFormOne.get('user_details.first_name').touched">Este campo es requerido</mat-error>
                          <mat-error *ngIf="paymentFormOne.get('user_details.first_name').hasError('pattern') && paymentFormOne.get('user_details.city_state').touched ">Ingrese nombre válido</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                    

                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="33" fxFlex.xl="33">
                      <div class="mb-2">
                        <mat-form-field class="w-100">
                          <input matInput type="text" formControlName="street_name_number" placeholder="Dirección de entrega">
                          <mat-error *ngIf="paymentFormOne.get('user_details.street_name_number').hasError('required') && paymentFormOne.get('user_details.street_name_number').touched">Este campo es requerido</mat-error>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                  
                  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <div class="mb-2">
                        <mat-form-field class="w-100">
                          <input matInput type="text" placeholder="Cuidad" formControlName="city_state" required>
                          <mat-error *ngIf="paymentFormOne.get('user_details.city_state').hasError('required') && paymentFormOne.get('user_details.city_state').touched">Este campo es requerido</mat-error>
                          <mat-error *ngIf="paymentFormOne.get('user_details.city_state').hasError('pattern') && paymentFormOne.get('user_details.city_state').touched ">Ingrese una cuidad válida</mat-error>
                        </mat-form-field>
                      </div>
                    </div>

                    <div class="mb-2">
                        <mat-form-field class="w-100">
                          <input matInput type="number" placeholder="Teléfono" formControlName="mobile" required>
                          <mat-error *ngIf="paymentFormOne.get('user_details.mobile').hasError('required') && paymentFormOne.get('user_details.mobile').touched ">Este campo es requerido</mat-error>
                          
                        </mat-form-field>
                    </div>
                    

                  </div>
                  
                  
                    <mat-error *ngIf="requeriredForm">Campos incompletos o no válidos</mat-error>
                  
                  <div fxLayout="row wrap" fxLayoutAlign="none" class="col-gap">
                    <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      

                      <button color="accent" class="button-lg" mat-raised-button type="button" (click)="submitPayment()">Continuar</button><br><br>
                      <button color="accent" class="button-lg" mat-raised-button type="button" (click)="returnCart()">Volver </button>
                      
                    </div>
                  </div>
              </div>
              <div fxFlex.xs="100" fxFlex.sm="50" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
              </div>
            </div>
          </mat-expansion-panel>
          
          <!---->
          <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" [disabled]="isDisabledPaymentStepThree">
            <mat-expansion-panel-header>
              <!--<h4 class="mb-0">Payment Options</h4>-->
            </mat-expansion-panel-header>
            <mat-tab-group (selectedTabChange)="selectedPaymentTabChange($event)">
              <mat-tab label="Offer Code">
                <div class="mat-inner-tab text-center">
                  <div class="header-mat-tab bg-grey">
                    <div class="mb-4"><img src="assets/images/card.png" alt="">
                    </div>
                    <h4 class="mb-5">Enter Card Details</h4>
                  </div>
                </div>
                <div class="container-mat-tab card-details">
                  <div fxLayout='row wrap' class="col-gap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" formGroupName="payment">
                        <div fxLayout='row wrap' class="col-gap">
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <mat-form-field class="w-100">
                              <input matInput type="text" placeholder="Card Number" formControlName="card_number" card-number>
                              <mat-error *ngIf="paymentFormOne.get('payment.card_number').hasError('required') && paymentFormOne.get('payment.card_number').touched">This field should not be empty.</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="100" fxFlex.xl="100">
                            <mat-form-field class="w-100">
                              <input matInput type="text" placeholder="Name" formControlName="user_card_name" card-name>
                              <mat-error *ngIf="paymentFormOne.get('payment.user_card_name').hasError('required') && paymentFormOne.get('payment.user_card_name').touched">This field should not be empty.</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                            <mat-form-field class="w-100">
                              <input matInput type="text" placeholder="CVV" formControlName="cvv" card-cvc>
                              <mat-error *ngIf="paymentFormOne.get('payment.cvv').hasError('required') && paymentFormOne.get('payment.cvv').touched">This field should not be empty.</mat-error>
                            </mat-form-field>
                          </div>
                          <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="33" fxFlex.lg="33" fxFlex.xl="33">
                            <mat-form-field class="w-100">
                              <input matInput type="text" placeholder="Expiry Date (01/10)" formControlName="expiry_date" card-expiry>
                              <mat-error *ngIf="paymentFormOne.get('payment.expiry_date').hasError('required') && paymentFormOne.get('payment.expiry_date').touched">This field should not be empty.</mat-error>
                            </mat-form-field>
                          </div>
                        </div>
                        <button mat-raised-button color="accent" type="button" (click)="finalStep()">Submit</button>
                        <button mat-raised-button class="mx-2">Clear</button>
                    </div>
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50">
                      <h4 class="mb-5 text-center">Card Infomation</h4>
                      <div class="card-container"></div>
                    </div>
                  </div>
                </div>
              </mat-tab>
              <mat-tab label="Credit/Debit/NetBanking" *ngIf="bankCardsImages && bankCardsImages.length>0">
                <div class="mat-inner-tab netbanking-wrapper checkbox-small" formGroupName="payment">
                  <div class="header-mat-tab bg-grey text-center">
                    <div class="mb-4"> <img src="assets/images/online-shop.png" alt=""></div>
                    <h4 class="mb-5">Select Bank for NetBanking</h4>
                  </div>
                  <hr class="dark-border">
                  <div class="mb-5">
                    <div class="card-radio ">
                  
                        <mat-radio-group formControlName="card_id">
                           <mat-radio-button *ngFor="let card of bankCardsImages" [value]="card?.id" >
                              <img [src]="card?.image" width="150" height="30" alt="Bank">
                           </mat-radio-button>
                        </mat-radio-group>
                    
                    </div>
                  </div>
                  <div fxLayout='row wrap' class="pb-5">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="40" fxFlex.lg="40" fxFlex.xl="40">
                     <h6>All Banks</h6>
                     <mat-form-field class="w-100">
                       <mat-select formControlName="bank_card_value">
                         <mat-option value=null disabled="disabled" hidden>Select</mat-option>
                         <mat-option value="option1">Option 1</mat-option>
                         <mat-option value="option2">Option 2</mat-option>
                         <mat-option value="option3">Option 3</mat-option>
                       </mat-select>
                       <mat-error *ngIf="paymentFormOne.get('payment.bank_card_value').hasError('required') && paymentFormOne.get('payment.bank_card_value')">This field should not be empty.</mat-error>
                     </mat-form-field>

                     <div>
                       <button mat-raised-button color="accent" (click)="finalStep()">Make Payment</button>
                     </div>
                    </div>
                  </div>
                </div>
              </mat-tab>
            </mat-tab-group>
          </mat-expansion-panel>
        
        </form>
      </mat-accordion>
    </div>
  </div>
</div>






  