
<!---->
<ng-container >
    <embryo-PageTitle heading="{{pageTitle}}" subHeading="{{subPageTitle}}"></embryo-PageTitle>

    <div class="inner-container section-gap">
        <div class="container" >
            <!-- Products with free api key  -->
                <!--<button (click)="checkProducts()" type="button" class="btn btn-outline-primary">buscar</button>-->
                <button color="accent" class="button-lg" mat-raised-button type="button" (click)="checkAllProducts()">Todos los productos</button><br><br>
                <div class="mat-card mb-4">
                    <ul class="listacategorias">
                        <li  (click)="selectCategorias(item)" *ngFor="let item of categorias">{{item}} &nbsp;</li>  
                    </ul>
                </div>
                     
                <div fxLayout="row wrap"  class="col-gap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="15">
                    
                            
                        <div class="mat-card mb-4">
                                
                            <div class="custom-control custom-checkbox" >
                                <h5>Categorias</h5>
                                <li class="listacategoriasfiltros" *ngFor="let item of categorias">
                                    <input type="checkbox" class="form-check-input"  [(ngModel)]="categories">
                                    <label class="form-check-label" >{{item}}</label>                                      
                                </li>
                            </div>
                        </div>
            
                        <div class="mat-card mb-4">                            
                            <div class="custom-control custom-checkbox" >
                                <h5>Disponibilidad</h5>
                                <li class="listacategoriasfiltros" >
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="optionYes">
                                    <label class="form-check-label" >Si</label>                                         
                                </li>
                                <li class="listacategoriasfiltros" >
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="optionNo">
                                    <label class="form-check-label" >No</label>                                         
                                </li>
                            </div>
                        </div>
            
                        <div class="mat-card mb-4">
                            <h4>Precio</h4>    
                            <div class="custom-slider">
                                <ng5-slider (change)="changeprice(value)" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                            </div>
                        </div>

                        <div class="mat-card mb-4">
                            <button color="accent" class="button-lg" mat-raised-button type="button" (click)="applyFilter(minValue,maxValue,optionYes,optionNo,categories)" >Aplicar Filtrar</button><br><br>
                        </div>


            
                    </div>
            

                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="80" fxFlex.xl="80" class="algolia-main-list">
                    
                        <div *ngIf="!products_list"> 
                        <app-homeone></app-homeone>
                        </div>
            

                        <div *ngIf="products_list" >
                            <!--vista mosaico -->

                            <div class="container">
                                <h3 class="h3 product-list">Listado de Productos</h3>
                                <div class="row">
                                    <div class="col-md-3 col-sm-6" *ngFor="let item of datosBusqueda">
                                        <div class="product-grid">
                                            <div class="product-image">
                                                <a href="#">
                                                    <img src="{{item.miniatura}}">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">{{item.categoria}}</a></h3>
                                                <div class="price">${{item.precio}}
                                                    <span>id: {{item.idProducto}}</span>
                                                </div>
                                            </div>
                                            <ul class="options">
                                                <li><a (click)="reviewPopup(item)" data-tip="Ver"><i class="fa fa-search"></i></a></li>
                                                <li><a  (click)="addToCart(item)"data-tip="Agregar al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>

                        </div>

                    </div>
                </div>   
        </div>
    </div>
</ng-container>