
<!---->
<ng-container >
    <embryo-PageTitle heading="{{pageTitle}}" subHeading="{{subPageTitle}}"></embryo-PageTitle>

    <div class="inner-container section-gap">
        <div class="container" >
            <!-- Products with free api key  -->
                <!--<button (click)="checkProducts()" type="button" class="btn btn-outline-primary">buscar</button>-->
                
                <div class="mat-card mb-4 container-filter-top">
                    <ul class="listacategorias">
                        <li  (click)="selectCategorias(item.categoria)" *ngFor="let item of categorias">{{item.categoria}} &nbsp;</li>  
                    </ul>
                </div>
                     
                <div fxLayout="row wrap"  class="col-gap">
                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="20" fxFlex.lg="20" fxFlex.xl="15">
                    
                            
                        <div class="mat-card mb-4">
                                <div class="tittle">Categorías</div>
                            <div class="custom-control custom-checkbox" *ngFor="let item of categorias">

                                <li class="listacategoriasfiltros" >
                                    <mat-checkbox (change)="cathEvent(item.categoria,$event.checked)" >{{item.categoria}}</mat-checkbox>
                                </li>
                            </div>
                        </div>
            
                        <div class="mat-card mb-4">                            
                          <div class="tittle">Disponibilidad</div>
                            <div class="custom-control custom-checkbox">
                                <li class="listacategoriasfiltros" >
                                        <mat-checkbox (change)="cathEventDisponibilityYes($event.checked)">Si</mat-checkbox>                    
                                    </li>
                                    <li class="listacategoriasfiltros" >
                                        <mat-checkbox (change)="cathEventDisponibilityNo($event.checked)">No</mat-checkbox>                      
                                </li>
                            </div>
                        </div>
            
                        <div class="mat-card mb-4">
                                <div class="tittle">Precio</div>   
                            <div class="custom-slider">
                                <ng5-slider (change)="changeprice(value)" [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ng5-slider>
                            </div>
                        </div>

                        <div class="mat-card mb-4 container-button">
                            <button color="accent" class="button-lg" mat-raised-button type="button" (click)="applyFilter(minValue,maxValue)" >Aplicar Filtros</button>
                            <button color="accent" class="button-lg" mat-raised-button type="button" (click)="checkAllProducts()">Todos los productos</button>
                        </div>

                        
            
                    </div>
            

                    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="80" fxFlex.xl="80" class="algolia-main-list">
                    
                        <div *ngIf="!products_list"> 
                        <app-homeone></app-homeone>
                        </div>
            

                        <div *ngIf="products_list" >
                            <!--vista mosaico -->

                            <div class="container">
                                <h3 class="h3 product-list">Listado de Productos</h3>
                                <h5 *ngIf="(lengthvalue.length==0)">No se encontró producto con esas especificaciones</h5>
                                    
                                <div class="row" >
                                    <div class="col-md-3 col-sm-6" *ngFor="let item of datosBusqueda">
                                        <div class="product-grid">
                                            <div class="product-image">
                                                <a >
                                                    <img src="{{item.miniatura}}">
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <h3 class="title"><a href="#">{{item.categoria}}</a></h3>
                                                <div class="price">${{item.precio}}
                                                    <span>id: {{item.idProducto}}</span>
                                                </div>
                                            </div>
                                            <ul class="options">
                                                <li><a (click)="reviewPopup(item)" data-tip="Ver"><i class="fa fa-search"></i></a></li>
                                                <li><a  (click)="addToCart(item)"data-tip="Agregar al carrito"><i class="fa fa-shopping-cart"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>             
                            </div>
                            
                            <hr>
                        </div>

                    </div>
                </div>   
        </div>
    </div>
</ng-container>