.container-filter-top {
    display: flex;
    justify-content: center;

    ul {
        margin-top: 15px;

        li {
            font-size: 18px;
            font-weight: bold;
            padding-left: 8px;

            &:hover {
                cursor: pointer;
                font-size: 19px;
            }
        }
    }
}


.tittle {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
    margin-bottom: 10px;
    font-family: inherit;
}

.container-button {
    display: flex;
    flex-direction: column;
    justify-content: center;

    button {
        margin: 15px 13px 15px 10px
    }
}

.listacategorias li{
    display: inline; 
}

.listacategoriasfiltros{
    list-style:none;
    padding-bottom: 10px;
    padding-left: 8px;

    label {
        margin-top: 3px;
    }
}

.categories-item {
    list-style:none;
    padding-left: 18px;
}



.product-grid 
.product-image {
    overflow:hidden
}
.product-grid{
    font-family:'Open Sans',sans-serif;
    text-align:center;
    position:relative;
    transition:all .5s ease 0s
}
.product-grid:hover{
    box-shadow:0 0 10px rgba(0,0,0,.3)
}
.product-grid .product-image a{
    display:block
}
.product-grid .product-image img{
    width:100%;
    height:auto;
    transition:all .5s ease 0s
}
.product-grid:hover .product-image img{
    transform:scale(1.1)
}
.product-grid .product-content{
    padding:12px 12px 15px;
    transition:all .5s ease 0s
}
.product-grid:hover .product-content{
    opacity:0
}
.product-grid .title{
    font-size:20px;
    font-weight:600;
    text-transform:capitalize;
    margin:0 0 10px;
    transition:all .3s ease 0s}

.product-grid .title a{
    color:#000
}
.product-grid .title a:hover {
    color:#283593
}
.product-grid .price{
    font-size:18px;
    font-weight:600;
    color:#283593
}
.product-grid .price span{
    color:#999;
    font-size:15px;
    font-weight:400;
    margin-left:7px;
    display:inline-block
}
.product-grid .options{
    background-color:#fff;
    width:100%;
    padding:0;
    margin:0;
    list-style:none;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    bottom:-50%;
    left:50%;
    z-index:1;
    transition:all .5s ease 0s
}
.product-grid:hover .options{
    opacity:1;
    bottom:20px
}
.product-grid .options li{
    display:inline-block
}
.product-grid .options li a{
    color:#909090;
    font-size:16px;
    line-height:45px;
    text-align:center;
    height:45px;
    width:45px;
    margin:0 7px;
    border:1px solid #909090;
    border-radius:50px;
    display:block;
    position:relative;
    transition:all .3s ease-in-out
}
.product-grid .options li a:hover{
    color:#fff;
    background-color:#283593;
    width:80px
}

.product-grid 
.options li a:after,
.product-grid 
.options li 
a:before{
    content:attr(data-tip);
    color:#fff;
    background-color:#283593;
    font-size:12px;
    letter-spacing:1px;
    line-height:20px;
    padding:1px 5px;
    border-radius:5px;
    white-space:nowrap;
    opacity:0;
    transform:translateX(-50%);
    position:absolute;
    left:50%;
    top:-30px
}

.product-grid .options li a:after{
    content:'';
    height:15px;
    width:15px;
    border-radius:0;
    transform:translateX(-50%) rotate(45deg);
    top:-20px;
    z-index:-1}

.product-grid .options li a:hover:after,
.product-grid .options li a:hover:before{
    opacity:1;
}
@media only screen and (max-width:990px){.product-grid{margin-bottom:30px}
}

@media screen and (max-width: 500px){
    .col-md-3{ 
        width: 50% !important; 
    }
}
@media screen and (max-width: 500px){
    .mb-4{
        width: 100% !important; 
        display: inline-block !important;
    }.listacategoriasfiltros{display: inline-block !important;}
    .custom-checkbox{
        display: inline-block !important;
    }.mb-4{margin-top: -10px !important;}
    .categories{margin-top: -15px !important; }
}



::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
      background: #ffe4d1;
      height: 2px;
    }
    .custom-slider .ng5-slider .ng5-slider-selection {
      background: #FF5733;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer {
      width: 8px;
      height: 16px;
      top: auto; /* to remove the default positioning */
      bottom: 0;
      background-color: #333;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
      display: none;
    }
  
    .custom-slider .ng5-slider .ng5-slider-bubble {
      bottom: 14px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-limit {
      font-weight: bold;
      color: #FF5733;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick {
      width: 1px;
      height: 10px;
      margin-left: 4px;
      border-radius: 0;
      background: #ffe4d1;
      top: -1px;
    }
  
    .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
      background: #FF5733;
    }
  }
  @media(max-width:560px) {

  }