


<ngx-slick-carousel class="carousel" [config]="slideConfig">
   <div ngxSlickItem *ngFor="let slide of slides">
         
      <img src="data:image/jpg;base64,{{ slide.imagen }}"  style="width:100%; height:100%">
         
      <!--
      <div class="bannerStyle slider-img-1">
         <div class="ngx-slider-content">
            <div class="ngx-slider-inner">
              
            </div>
         </div>
      </div>
   </div>
   <div ngxSlickItem>
      <div class="bannerStyle slider-img-2">
         <div class="ngx-slider-content">
            <div class="ngx-slider-inner">
            
            </div>
         </div>
      </div>
   </div>
   <div ngxSlickItem>
      <div class="bannerStyle slider-img-3">
         <div class="ngx-slider-content">
            <div class="ngx-slider-inner">
            </div>
         </div>
     </div>-->
   </div>
</ngx-slick-carousel>
