<mat-toolbar color="primary" class="header-v1">
    <mat-toolbar-row class="header-v1-top">
      <div class="container">
        <div fxLayout="row wrap" fxLayout="center center">
          <div fxHide.xs="true" fxHide.sm="true" fxHide.md="true" fxFlex.md="33%" fxFlex.lg="33%" fxFlex.xl="33%">
            <div class="list-flex">
            </div>
          </div>
          <div class="logo-site" fxFlex.xs="40" fxFlex.sm="40" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
           <embryo-AppLogo></embryo-AppLogo>
          </div>
          <div fxFlex.xs="60" fxFlex.sm="60" fxFlex.md="50" fxFlex.lg="33%" fxFlex.xl="33%">
            <span fxFlex></span>
            <div class="list-flex user-tool">
            </div>
          </div>
        </div>
      </div>
    </mat-toolbar-row>
</mat-toolbar><br>

<embryo-PageTitle heading="Payment Confirmation"></embryo-PageTitle>
<div class="text-center bg-grey p-5 mat-card-pad-none">
    <h1>Gracias por su reserva</h1>
    <h5 class="mb-4">Su ID de reserva es:</h5>
    <h6 class="mb-4">ID:267676GHERT105467</h6>
    <img src="assets/images/checked.png" width="64" height="64" alt="Success">
</div>

<mat-card class="pt-0">
  <button mat-raised-button color="accent" class="button-lg" [routerLink]="['/home/']">Inicio</button>
</mat-card>