<header>
    <div class="roof">
        <div class="head">
            <a><img class="logo"src="assets/imgaval.jpg"></a>
            <a class="button"><span><i class="fas fa-shopping-cart"></i></span></a>
            <a class="button-check">Seguimiento Pedido</a>
        </div>
    </div>
</header>
<div>
<div>
    <app-filter></app-filter>
</div>

</div>
<div class="menu-catalogo">  
    <app-catalogo></app-catalogo>
    <div class="router">
        <router-outlet></router-outlet>
    </div>
</div>



      






 


