.inputId{
    width: 300px;
    height: 30px;
}
.search{
    text-align: center;
}

.container-filter {
    display: flex;
    justify-content: space-between;
    width: 500px;

}

.cursor-pointer:hover {
  cursor: pointer;
}
@media screen and (max-width: 500px){
    .container-filter{
        width: 60% !important;
    }.button-lg{width: 10% !important; }
}