
<mat-card>
  <h4 class="mb-3">Consulta tu pedido</h4>

  <div class="container-filter"> 

      <mat-form-field class="inputId">
        <input  matInput type="nombre" [(ngModel)]="id_reserve" placeholder="ID">
      </mat-form-field>
      <button mat-raised-button color="accent" class="search" (click)="searchOrder(id_reserve)" ><a class="button-search">Buscar</a></button><br>
      <button mat-raised-button color="accent" class="search" (click)="limpiar()" ><a class="button-search">Limpiar</a></button>
  </div>

  <table mat-table [dataSource]="dataSource" class="w-100">

    <ng-container matColumnDef="orderid">
      <th mat-header-cell *matHeaderCellDef> <a>Order Id </a></th>
      <td mat-cell *matCellDef="let element" (click)="PedidoPopup(element.pedidos,element)" ><a class="id-order" style="color: #00008B" style="text-decoration: underline #00008B" >{{element.orderid}}</a> </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Id Usuario</th>
      <td mat-cell *matCellDef="let element"> <a>{{element.name}} </a></td>
    </ng-container>

    <ng-container matColumnDef="fecha">
      <th mat-header-cell *matHeaderCellDef>Fecha</th>
      <td mat-cell *matCellDef="let element"><a>{{element.fecha}}</a></td>
    </ng-container>

    <ng-container matColumnDef="eliminar" >
        <th mat-header-cell *matHeaderCellDef>Eliminar</th>
        <td mat-cell *matCellDef="let element">
           <a *ngIf="administrador" (click)="deletePedido(element.orderid)" class="accent-color ">   
             <i  *ngIf="!desactivar" class="material-icons cursor-pointer"><a>close</a></i></a>  
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table><br><br>

  <h6 *ngIf="desactivar" >No existen pedidos con ese ID</h6>
  <div class="buttonreturn"> <span fxFlex></span><button mat-raised-button color="accent" class="button-lg" [routerLink]="['']">Volver</button></div>
</mat-card>
