@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic);

.w-100 , .mb-3, .button-lg, .search{
    font-family: 'PT Sans' !important; 
}

.inputId{
    width: 300px;
    height: 30px;
    
}
.search{
    text-align: center;
    font-size: 15px;   
    margin-left: 5px;     
}
.button-lg{
    font-size: 15px;    
 
}
.container-filter {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.cursor-pointer:hover {
  cursor: pointer;
}
.id-order{
    text-decoration:underline;
    color: blue;
    cursor: pointer;
}
.mb-3{
    font-size: 20px;    
   
    font-weight: bold;
}

.container-filter{
    display: flex;
    justify-content: center;
}
.ng-container{
    border-style: solid !important;
}

@media screen and (max-width: 500px){
    .container-filter{
        width: 60% !important;
        display: flex;
        justify-content: center;
    }.search{
        margin-left: 5px;
    }.button-search{
        display: flex;
        justify-content: center;
    }.inputId{
        width: 280px;
        margin-left: 110px;
    }.id-order{
        cursor: pointer;
        margin-left: -20px;
    }.cursor-pointer a{
        margin-left: 10px;
        cursor: pointer;
    }.w-100 a{
        font-size: 12px;
    }
   

}
