<div class="login-pag">
    <div class="login">
  
      <div class="logologin">
        <a><img class="logologin" src="assets/sophos.jpg"></a>
      </div><br>
  
      <form  class="form-login">
        <label for="name">Nombre </label>
        <input name="name" type="text"/><br><br>
        
        <label for="password">Contraseña </label>
        <input name="password" type="text"/><br><br>
        <button class="button-login" (click)="accept()">Aceptar</button>
      </form>
    </div>
</div>